.cardGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 60%;
    height: 60%;
  }
  
  .card {
    background-color: #ddd;
    border: 1px solid #999;
    aspect-ratio: 1;
  }
